src/main/resources/flowfiles/ml_sort-raw_boosts_v2.0.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>34900dd5-0161-1000-b7a0-ed93f5fa490d</groupId>
  <name>ml_sort-raw_boosts_v2.0</name>
  <snippet>
    <controllerServices>
      <id>752e0e00-21d0-3ba2-0000-000000000000</id>
      <parentGroupId>d24b28b1-f372-32a5-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>default-credentials</key>
          <value>
            <name>default-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Access Key</key>
          <value>
            <name>Access Key</name>
          </value>
        </entry>
        <entry>
          <key>Secret Key</key>
          <value>
            <name>Secret Key</name>
          </value>
        </entry>
        <entry>
          <key>Credentials File</key>
          <value>
            <name>Credentials File</name>
          </value>
        </entry>
        <entry>
          <key>profile-name</key>
          <value>
            <name>profile-name</name>
          </value>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>
            <name>anonymous-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
          <value>
            <name>Assume Role ARN</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
          <value>
            <name>Assume Role Session Name</name>
          </value>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>
            <name>Session Time</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
          <value>
            <name>assume-role-external-id</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
          <value>
            <name>assume-role-proxy-host</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
          <value>
            <name>assume-role-proxy-port</name>
          </value>
        </entry>
      </descriptors>
      <name>AWSCredentialsProviderControllerService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>default-credentials</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Access Key</key>
        </entry>
        <entry>
          <key>Secret Key</key>
        </entry>
        <entry>
          <key>Credentials File</key>
        </entry>
        <entry>
          <key>profile-name</key>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>3600</value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
    </controllerServices>
    <processGroups>
      <id>046202cc-4d59-3a00-0000-000000000000</id>
      <parentGroupId>d24b28b1-f372-32a5-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>8893f796-860f-3004-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>36255153-181e-3edc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>1d4a03c0-6e3a-3b6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8eba2e07-82bf-33fc-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1711.2902781690068</x>
            <y>1505.150903354323</y>
          </bends>
          <bends>
            <x>1711.2902781690068</x>
            <y>1555.150903354323</y>
          </bends>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>5448b28c-c5ed-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>5448b28c-c5ed-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a4708919-4c54-3575-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>365bed2a-6eed-3099-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
            <id>4b6f9f01-36cb-30cc-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cf76ab03-5011-3401-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>1d4a03c0-6e3a-3b6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>5448b28c-c5ed-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>d67ad8e6-294f-3155-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1711.2902781690068</x>
            <y>1703.2447754246355</y>
          </bends>
          <bends>
            <x>1711.2902781690068</x>
            <y>1753.2447754246355</y>
          </bends>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>1d4a03c0-6e3a-3b6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>1d4a03c0-6e3a-3b6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>db1df4ce-c4ba-35d5-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1711.2902781690068</x>
            <y>2084.8624669897317</y>
          </bends>
          <bends>
            <x>1711.2902781690068</x>
            <y>2134.8624669897317</y>
          </bends>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>26ba72b7-729c-3c7f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>26ba72b7-729c-3c7f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>001524b1-5267-3e78-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1711.2902781690068</x>
            <y>1888.9163542811825</y>
          </bends>
          <bends>
            <x>1711.2902781690068</x>
            <y>1938.9163542811825</y>
          </bends>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>36255153-181e-3edc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>36255153-181e-3edc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1025f692-b7bb-3d8d-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>4550ebd4-801f-3c47-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>7db00e8e-8628-3b0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2ef1f928-b161-36a4-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1709.6518504346318</x>
            <y>1085.9327697593858</y>
          </bends>
          <bends>
            <x>1709.6518504346318</x>
            <y>1135.9327697593858</y>
          </bends>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>7db00e8e-8628-3b0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <selectedRelationships>unmatched</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>7db00e8e-8628-3b0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>36b3a1a6-e6ea-348c-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
            <id>b7ce0fb8-39b0-36d8-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
            <id>4b6f9f01-36cb-30cc-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5f4acab0-6a33-332b-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>5448b28c-c5ed-3ed2-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>4550ebd4-801f-3c47-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6dd4cbca-4811-3f96-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>522efd86-5284-378f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>splits</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>365bed2a-6eed-3099-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>72e234e0-9d85-3655-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>7db00e8e-8628-3b0e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>522efd86-5284-378f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>78364cd4-245b-34cd-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>26ba72b7-729c-3c7f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>046202cc-4d59-3a00-0000-000000000000</groupId>
            <id>36255153-181e-3edc-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processGroups>
          <id>f5ad0eb1-7813-34b0-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1239.6518504346318</x>
            <y>406.75982824778316</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>8007157b-c72c-38e6-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>2b63b75b-ec9c-30b5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>a03a0ea4-535a-3bb4-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>8fa95cce-2b76-38c7-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>c2d63481-1995-3d66-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>7bf591cb-f836-3618-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>98723713-c9b3-3bf3-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>4b6f9f01-36cb-30cc-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>8eef0d40-c950-3385-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>b0fcda29-0db4-37aa-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>7bf591cb-f836-3618-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>2b63b75b-ec9c-30b5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d0fd8ea6-6737-39d3-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>8eef0d40-c950-3385-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>c2d63481-1995-3d66-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d4f7a2a3-9523-3754-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>-481.03151988983154</x>
                <y>-469.6226806640625</y>
              </bends>
              <bends>
                <x>-517.6590261459351</x>
                <y>-400.7629699707031</y>
              </bends>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>8eef0d40-c950-3385-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>8eef0d40-c950-3385-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fe960e95-9ad4-37e1-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>371.6568908691406</x>
                <y>-888.6412963867188</y>
              </bends>
              <bends>
                <x>437.58642578125</x>
                <y>-831.5023803710938</y>
              </bends>
              <destination>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>7bf591cb-f836-3618-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>f5ad0eb1-7813-34b0-0000-000000000000</groupId>
                <id>7bf591cb-f836-3618-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>4b6f9f01-36cb-30cc-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-1248.1696074228837</x>
                <y>-620.1256010029076</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>output</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>8eef0d40-c950-3385-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-700.2571416124608</x>
                <y>-659.3540028047555</y>
              </position>
              <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Bucket</key>
                    <value>
                      <name>Bucket</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Object Key</key>
                    <value>
                      <name>Object Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>
                      <name>Region</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                    <value>
                      <name>Access Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                    <value>
                      <name>Secret Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                    <value>
                      <name>Credentials File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                      <name>AWS Credentials Provider service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>
                      <name>Communications Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Version</key>
                    <value>
                      <name>Version</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Endpoint Override URL</key>
                    <value>
                      <name>Endpoint Override URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Signer Override</key>
                    <value>
                      <name>Signer Override</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                    <value>
                      <name>Proxy Host Port</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Bucket</key>
                    <value>${s3bucket}</value>
                  </entry>
                  <entry>
                    <key>Object Key</key>
                    <value>${s3key}</value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>us-west-2</value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>752e0e00-21d0-3ba2-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                  </entry>
                  <entry>
                    <key>Version</key>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Endpoint Override URL</key>
                  </entry>
                  <entry>
                    <key>Signer Override</key>
                    <value>Default Signature</value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>FetchS3ObjectBoosts</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
            </processors>
            <processors>
              <id>a03a0ea4-535a-3bb4-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-1289.766986392429</x>
                <y>-929.6643246126168</y>
              </position>
              <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Queue URL</key>
                    <value>
                      <name>Queue URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Auto Delete Messages</key>
                    <value>
                      <name>Auto Delete Messages</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                    <value>
                      <name>Access Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                    <value>
                      <name>Secret Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                    <value>
                      <name>Credentials File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                      <name>AWS Credentials Provider service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>
                      <name>Region</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>
                      <name>Communications Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Visibility Timeout</key>
                    <value>
                      <name>Visibility Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Receive Message Wait Time</key>
                    <value>
                      <name>Receive Message Wait Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                    <value>
                      <name>Proxy Host Port</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Queue URL</key>
                    <value>${sqs_url}</value>
                  </entry>
                  <entry>
                    <key>Auto Delete Messages</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>752e0e00-21d0-3ba2-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>us-west-2</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Visibility Timeout</key>
                    <value>15 mins</value>
                  </entry>
                  <entry>
                    <key>Receive Message Wait Time</key>
                    <value>0 sec</value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetSQSBoosts</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style>
                <entry>
                  <key>background-color</key>
                  <value>#004ef5</value>
                </entry>
              </style>
              <type>org.apache.nifi.processors.aws.sqs.GetSQS</type>
            </processors>
            <processors>
              <id>c2d63481-1995-3d66-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-135.9570622667577</x>
                <y>-664.6954220247263</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventTimestamp</key>
                    <value>
                      <name>eventTimestamp</name>
                    </value>
                  </entry>
                  <entry>
                    <key>s3key</key>
                    <value>
                      <name>s3key</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>eventTimestamp</key>
                    <value>${eventTime:toDate("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'", "UTC"):toNumber()}</value>
                  </entry>
                  <entry>
                    <key>s3key</key>
                    <value>${filename:replaceAll('%3D', '=')}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ReplaceEncodedSimbols</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>2b63b75b-ec9c-30b5-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-701.5592099921093</x>
                <y>-927.1520674964954</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>bucket</key>
                    <value>
                      <name>bucket</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventtime</key>
                    <value>
                      <name>eventtime</name>
                    </value>
                  </entry>
                  <entry>
                    <key>key</key>
                    <value>
                      <name>key</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to 'matched' if line matches all conditions</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Contains</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                  </entry>
                  <entry>
                    <key>bucket</key>
                    <value>bucket</value>
                  </entry>
                  <entry>
                    <key>eventtime</key>
                    <value>eventTime</value>
                  </entry>
                  <entry>
                    <key>key</key>
                    <value>key</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>RouteText</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>7bf591cb-f836-3618-0000-000000000000</id>
              <parentGroupId>f5ad0eb1-7813-34b0-0000-000000000000</parentGroupId>
              <position>
                <x>-131.22150947897694</x>
                <y>-933.5142696809763</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>
                      <name>Path Not Found Behavior</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>
                      <name>Null Value Representation</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventTime</key>
                    <value>
                      <name>eventTime</name>
                    </value>
                  </entry>
                  <entry>
                    <key>filename</key>
                    <value>
                      <name>filename</name>
                    </value>
                  </entry>
                  <entry>
                    <key>s3bucket</key>
                    <value>
                      <name>s3bucket</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-attribute</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>ignore</value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>empty string</value>
                  </entry>
                  <entry>
                    <key>eventTime</key>
                    <value>$.Records[0].eventTime</value>
                  </entry>
                  <entry>
                    <key>filename</key>
                    <value>$.Records[0].s3.object.key</value>
                  </entry>
                  <entry>
                    <key>s3bucket</key>
                    <value>$.Records[0].s3.bucket.name</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ExtractS3Path</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
            </processors>
          </contents>
          <name>FetchFromSQS&amp;S3</name>
        </processGroups>
        <processGroups>
          <id>2825bbc7-9a07-3fc2-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>634.0364789303558</x>
            <y>610.970249193161</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>e9b7158e-cc66-382b-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>50cd3c07-dbdf-3714-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>b7ce0fb8-39b0-36d8-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>f2844fb7-4d7c-31cc-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>64f7e78b-70aa-322d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>50cd3c07-dbdf-3714-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>40215b2b-3b86-36b9-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>15.375318208664112</x>
                <y>323.8971862792969</y>
              </bends>
              <bends>
                <x>-149.53666146662886</x>
                <y>324.9027404785156</y>
              </bends>
              <destination>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>64f7e78b-70aa-322d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>unmatched</selectedRelationships>
              <source>
                <groupId>2825bbc7-9a07-3fc2-0000-000000000000</groupId>
                <id>64f7e78b-70aa-322d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>09317587-1b16-37f3-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-dynamoupdate-nar</artifact>
                <group>com.nordstrom.mlp.nifi.processors</group>
                <version>1.0.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>default-credentials</key>
                  <value>
                    <name>default-credentials</name>
                  </value>
                </entry>
                <entry>
                  <key>Access Key</key>
                  <value>
                    <name>Access Key</name>
                  </value>
                </entry>
                <entry>
                  <key>Secret Key</key>
                  <value>
                    <name>Secret Key</name>
                  </value>
                </entry>
                <entry>
                  <key>Credentials File</key>
                  <value>
                    <name>Credentials File</name>
                  </value>
                </entry>
                <entry>
                  <key>profile-name</key>
                  <value>
                    <name>profile-name</name>
                  </value>
                </entry>
                <entry>
                  <key>anonymous-credentials</key>
                  <value>
                    <name>anonymous-credentials</name>
                  </value>
                </entry>
                <entry>
                  <key>Assume Role ARN</key>
                  <value>
                    <name>Assume Role ARN</name>
                  </value>
                </entry>
                <entry>
                  <key>Assume Role Session Name</key>
                  <value>
                    <name>Assume Role Session Name</name>
                  </value>
                </entry>
                <entry>
                  <key>Session Time</key>
                  <value>
                    <name>Session Time</name>
                  </value>
                </entry>
                <entry>
                  <key>assume-role-external-id</key>
                  <value>
                    <name>assume-role-external-id</name>
                  </value>
                </entry>
                <entry>
                  <key>assume-role-proxy-host</key>
                  <value>
                    <name>assume-role-proxy-host</name>
                  </value>
                </entry>
                <entry>
                  <key>assume-role-proxy-port</key>
                  <value>
                    <name>assume-role-proxy-port</name>
                  </value>
                </entry>
              </descriptors>
              <name>AWSCredentialsProviderControllerService</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>default-credentials</key>
                  <value>false</value>
                </entry>
                <entry>
                  <key>Access Key</key>
                </entry>
                <entry>
                  <key>Secret Key</key>
                </entry>
                <entry>
                  <key>Credentials File</key>
                </entry>
                <entry>
                  <key>profile-name</key>
                </entry>
                <entry>
                  <key>anonymous-credentials</key>
                  <value>false</value>
                </entry>
                <entry>
                  <key>Assume Role ARN</key>
                  <value>arn:aws:iam::004323233598:role/prod-delivery-audit_iam_role</value>
                </entry>
                <entry>
                  <key>Assume Role Session Name</key>
                  <value>delivery-audit</value>
                </entry>
                <entry>
                  <key>Session Time</key>
                  <value>3600</value>
                </entry>
                <entry>
                  <key>assume-role-external-id</key>
                </entry>
                <entry>
                  <key>assume-role-proxy-host</key>
                </entry>
                <entry>
                  <key>assume-role-proxy-port</key>
                </entry>
              </properties>
              <state>ENABLED</state>
              <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
            </controllerServices>
            <inputPorts>
              <id>b7ce0fb8-39b0-36d8-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <position>
                <x>-290.78035836287427</x>
                <y>-198.0000028454453</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Input</name>
              <state>RUNNING</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <processors>
              <id>50cd3c07-dbdf-3714-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <position>
                <x>-344.78035836287427</x>
                <y>-86.37720894225109</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>destination_filename</key>
                    <value>
                      <name>destination_filename</name>
                    </value>
                  </entry>
                  <entry>
                    <key>domain</key>
                    <value>
                      <name>domain</name>
                    </value>
                  </entry>
                  <entry>
                    <key>entity</key>
                    <value>
                      <name>entity</name>
                    </value>
                  </entry>
                  <entry>
                    <key>tableName</key>
                    <value>
                      <name>tableName</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ttlPeriod</key>
                    <value>
                      <name>ttlPeriod</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>destination_filename</key>
                    <value>${s3key:substringAfterLast('/')}</value>
                  </entry>
                  <entry>
                    <key>domain</key>
                    <value>relevance</value>
                  </entry>
                  <entry>
                    <key>entity</key>
                    <value>boost_service_logs</value>
                  </entry>
                  <entry>
                    <key>tableName</key>
                    <value>prod-delivery-audit</value>
                  </entry>
                  <entry>
                    <key>ttlPeriod</key>
                    <value>604800000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>UpdateAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>64f7e78b-70aa-322d-0000-000000000000</id>
              <parentGroupId>2825bbc7-9a07-3fc2-0000-000000000000</parentGroupId>
              <position>
                <x>-346.78035836287427</x>
                <y>132.37955752211963</y>
              </position>
              <bundle>
                <artifact>nifi-dynamoupdate-nar</artifact>
                <group>com.nordstrom.mlp.nifi.processors</group>
                <version>1.0.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Table Name</key>
                    <value>
                      <name>Table Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Hash Key Name</key>
                    <value>
                      <name>Hash Key Name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Hash Key Value</key>
                    <value>
                      <name>Hash Key Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Hash Key Value Type</key>
                    <value>
                      <name>Hash Key Value Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>UpdateExpression</key>
                    <value>
                      <name>UpdateExpression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ConditionExpression</key>
                    <value>
                      <name>ConditionExpression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                      <name>AWS Credentials Provider service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>
                      <name>Communications Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                    <value>
                      <name>Access Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                    <value>
                      <name>Secret Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                    <value>
                      <name>Credentials File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>
                      <name>Region</name>
                    </value>
                  </entry>
                  <entry>
                    <key>domain_entity_col</key>
                    <value>
                      <name>domain_entity_col</name>
                    </value>
                  </entry>
                  <entry>
                    <key>domain_entity_val</key>
                    <value>
                      <name>domain_entity_val</name>
                    </value>
                  </entry>
                  <entry>
                    <key>nifi_ingestion_timestamp_col</key>
                    <value>
                      <name>nifi_ingestion_timestamp_col</name>
                    </value>
                  </entry>
                  <entry>
                    <key>nifi_ingestion_timestamp_val</key>
                    <value>
                      <name>nifi_ingestion_timestamp_val</name>
                    </value>
                  </entry>
                  <entry>
                    <key>time_to_exist_col</key>
                    <value>
                      <name>time_to_exist_col</name>
                    </value>
                  </entry>
                  <entry>
                    <key>time_to_exist_val</key>
                    <value>
                      <name>time_to_exist_val</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Table Name</key>
                    <value>${tableName}</value>
                  </entry>
                  <entry>
                    <key>Hash Key Name</key>
                    <value>key</value>
                  </entry>
                  <entry>
                    <key>Hash Key Value</key>
                    <value>${domain}-${entity}-${destination_filename}</value>
                  </entry>
                  <entry>
                    <key>Hash Key Value Type</key>
                    <value>string</value>
                  </entry>
                  <entry>
                    <key>UpdateExpression</key>
                    <value>set #nifi_ingestion_timestamp_col = :nifi_ingestion_timestamp_val, #time_to_exist_col = :time_to_exist_val, #domain_entity_col = :domain_entity_val</value>
                  </entry>
                  <entry>
                    <key>ConditionExpression</key>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>09317587-1b16-37f3-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>us-west-2</value>
                  </entry>
                  <entry>
                    <key>domain_entity_col</key>
                    <value>domain_entity</value>
                  </entry>
                  <entry>
                    <key>domain_entity_val</key>
                    <value>${domain}_${entity}</value>
                  </entry>
                  <entry>
                    <key>nifi_ingestion_timestamp_col</key>
                    <value>nifi_ingestion_timestamp</value>
                  </entry>
                  <entry>
                    <key>nifi_ingestion_timestamp_val</key>
                    <value>${now():toNumber()}</value>
                  </entry>
                  <entry>
                    <key>time_to_exist_col</key>
                    <value>time_to_exist</value>
                  </entry>
                  <entry>
                    <key>time_to_exist_val</key>
                    <value>${now():toNumber():plus(${ttlPeriod})}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>UpdateDynamoDB</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>com.nordstrom.mlp.nifi.processors.dynamoupdate.UpdateDynamoDB</type>
            </processors>
          </contents>
          <name>DeliveryAudit</name>
        </processGroups>
        <processors>
          <id>1d4a03c0-6e3a-3b6e-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1256.2902781690068</x>
            <y>1663.2447754246355</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>storeTime</value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>200 MB</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>5 mins</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>26ba72b7-729c-3c7f-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1256.2902781690068</x>
            <y>2044.8624669897317</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${storeTime}/${now():toNumber()}.gz</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>ml-sort-boosts-prepared-json</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>752e0e00-21d0-3ba2-0000-000000000000</value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>Standard</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>us-west-2</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>AuthenticatedRead</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3ObjectBoosts</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff8800</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>36255153-181e-3edc-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1256.2902781690068</x>
            <y>1848.9163542811825</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Mode</key>
                <value>
                  <name>Mode</name>
                </value>
              </entry>
              <entry>
                <key>Compression Format</key>
                <value>
                  <name>Compression Format</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Update Filename</key>
                <value>
                  <name>Update Filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Mode</key>
                <value>compress</value>
              </entry>
              <entry>
                <key>Compression Format</key>
                <value>gzip</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Update Filename</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>CompressContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.CompressContent</type>
        </processors>
        <processors>
          <id>365bed2a-6eed-3099-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1254.6518504346318</x>
            <y>647.7598587653613</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Byte Sequence Format</key>
                <value>
                  <name>Byte Sequence Format</name>
                </value>
              </entry>
              <entry>
                <key>Byte Sequence</key>
                <value>
                  <name>Byte Sequence</name>
                </value>
              </entry>
              <entry>
                <key>Keep Byte Sequence</key>
                <value>
                  <name>Keep Byte Sequence</name>
                </value>
              </entry>
              <entry>
                <key>Byte Sequence Location</key>
                <value>
                  <name>Byte Sequence Location</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Byte Sequence Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Byte Sequence</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Keep Byte Sequence</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Byte Sequence Location</key>
                <value>Trailing</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitContent</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>splits</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitContent</type>
        </processors>
        <processors>
          <id>4550ebd4-801f-3c47-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1256.2902781690068</x>
            <y>1257.1993492823576</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>storeTime</key>
                <value>
                  <name>storeTime</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>storeTime</key>
                <value>${timestamp:substring(0,19):toDate("yyyy-MM-dd'T'HH:mm:ss", "UTC"):format("'year='yyyy/'month='MM/'day='dd/'hour='HH")}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AddStoreTime</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>522efd86-5284-378f-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1254.6518504346318</x>
            <y>855.7103760664031</y>
          </position>
          <bundle>
            <artifact>nifi-cdp-bundle-nar</artifact>
            <group>com.nordstrom.cdp.nifi</group>
            <version>1.0.4</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonSchema</key>
                <value>
                  <name>JsonSchema</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonSchema</key>
                <value>  {
    "title": "product",
    "type": "object",
    "properties": {
      "TraceContext": {"type": ["null", "string"]},
      "BoostSequence": {"type": ["null", "string"]},
      "TimeStamp": {"type": ["null", "string"]},
      "EnvironmentName": {"type": ["null", "string"]}
    },
    "required": ["TraceContext", "BoostSequence", "TimeStamp", "EnvironmentName"]
  }</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ValidateJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>com.nordstrom.cdp.nifi.processors.common.ValidateJson</type>
        </processors>
        <processors>
          <id>5448b28c-c5ed-3ed2-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1256.2902781690068</x>
            <y>1465.150903354323</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>storeTime</value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>100 kB</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>1 mins</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>7db00e8e-8628-3b0e-0000-000000000000</id>
          <parentGroupId>046202cc-4d59-3a00-0000-000000000000</parentGroupId>
          <position>
            <x>1254.6518504346318</x>
            <y>1045.9327697593858</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>15</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>
                  <name>timestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>auto-detect</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>ignore</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>$.TimeStamp</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
      </contents>
      <name>Boost service logs</name>
    </processGroups>
  </snippet>
  <timestamp>04/11/2018 19:48:48 UTC</timestamp>
</template>
