src/main/resources/flowfiles/ml_sort-raw_product_v1.2.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>34900dd5-0161-1000-b7a0-ed93f5fa490d</groupId>
  <name>ml_sort-raw_product_v1.2</name>
  <snippet>
    <controllerServices>
      <id>752e0e00-21d0-3ba2-0000-000000000000</id>
      <parentGroupId>d24b28b1-f372-32a5-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-aws-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>default-credentials</key>
          <value>
            <name>default-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Access Key</key>
          <value>
            <name>Access Key</name>
          </value>
        </entry>
        <entry>
          <key>Secret Key</key>
          <value>
            <name>Secret Key</name>
          </value>
        </entry>
        <entry>
          <key>Credentials File</key>
          <value>
            <name>Credentials File</name>
          </value>
        </entry>
        <entry>
          <key>profile-name</key>
          <value>
            <name>profile-name</name>
          </value>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>
            <name>anonymous-credentials</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
          <value>
            <name>Assume Role ARN</name>
          </value>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
          <value>
            <name>Assume Role Session Name</name>
          </value>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>
            <name>Session Time</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
          <value>
            <name>assume-role-external-id</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
          <value>
            <name>assume-role-proxy-host</name>
          </value>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
          <value>
            <name>assume-role-proxy-port</name>
          </value>
        </entry>
      </descriptors>
      <name>AWSCredentialsProviderControllerService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>default-credentials</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Access Key</key>
        </entry>
        <entry>
          <key>Secret Key</key>
        </entry>
        <entry>
          <key>Credentials File</key>
        </entry>
        <entry>
          <key>profile-name</key>
        </entry>
        <entry>
          <key>anonymous-credentials</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Assume Role ARN</key>
        </entry>
        <entry>
          <key>Assume Role Session Name</key>
        </entry>
        <entry>
          <key>Session Time</key>
          <value>3600</value>
        </entry>
        <entry>
          <key>assume-role-external-id</key>
        </entry>
        <entry>
          <key>assume-role-proxy-host</key>
        </entry>
        <entry>
          <key>assume-role-proxy-port</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
    </controllerServices>
    <processGroups>
      <id>355057cc-6aff-372c-0000-000000000000</id>
      <parentGroupId>d24b28b1-f372-32a5-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>81c41ccd-811b-36f5-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>0ddc75be-1ae4-396f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>8e62a4d7-e44d-331b-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-126.4425277709961</x>
            <y>-541.8460998535156</y>
          </bends>
          <bends>
            <x>-126.4425277709961</x>
            <y>-491.8460998535156</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>106af679-2402-3d6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>106af679-2402-3d6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>94e50f4d-ed91-3ffd-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2047.4837036132812</x>
            <y>-532.0285205841064</y>
          </bends>
          <bends>
            <x>2047.4837036132812</x>
            <y>-482.02852058410645</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>f5dc4769-93da-3f62-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>f5dc4769-93da-3f62-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9a92a845-de54-347a-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>106af679-2402-3d6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>0ddc75be-1ae4-396f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a16c3f44-fba1-3dfc-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-114.3150329799389</x>
            <y>237.74556721718272</y>
          </bends>
          <bends>
            <x>-114.3150329799389</x>
            <y>287.7455672171827</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>8bf6dd22-51e7-3102-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>8bf6dd22-51e7-3102-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a2b79be1-d252-383f-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>8bf6dd22-51e7-3102-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>2a71c576-d7a6-349e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b59aad0a-777c-3a56-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a8a27c9e-e45a-3ab5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>896b9497-9162-343d-0000-000000000000</groupId>
            <id>542049f8-9ff4-38f8-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c7c82c20-532a-3f54-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>f5dc4769-93da-3f62-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>ed37c12b-3b47-3bad-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cb1d467b-9fe4-3ffa-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-122.54002825533348</x>
            <y>-347.8715610171761</y>
          </bends>
          <bends>
            <x>-122.54002825533348</x>
            <y>-297.8715610171761</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>50569f09-24ca-3b2b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>50569f09-24ca-3b2b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>cdecf39f-4bb0-386f-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>07aca524-4dd3-3a57-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>d07308c5-1001-32f9-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>2a71c576-d7a6-349e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a3b26906-3384-32ca-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>d352d82e-8118-361a-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>023da5f9-3595-3dee-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e4ae29f6-3250-398b-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-108.48991194789687</x>
            <y>37.11166334718348</y>
          </bends>
          <bends>
            <x>-108.48991194789687</x>
            <y>87.11166334718348</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>2a71c576-d7a6-349e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>2a71c576-d7a6-349e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0a97ecbe-2471-3dac-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>41757689-3ccf-35be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0add963a-fe44-30b3-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-112.42491595064598</x>
            <y>-146.98325535311358</y>
          </bends>
          <bends>
            <x>-112.42491595064598</x>
            <y>-96.98325535311358</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a3b26906-3384-32ca-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a3b26906-3384-32ca-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0b69eefe-9a1e-31eb-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>41757689-3ccf-35be-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0bb7fd11-be04-3018-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>07aca524-4dd3-3a57-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>023da5f9-3595-3dee-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>11cb8264-9abc-3e81-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>50569f09-24ca-3b2b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>106af679-2402-3d6e-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>13fde20a-8e2c-3c5c-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>334b3feb-9563-32b3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1823eeab-e2ac-3ac0-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>-128.77845001220703</x>
            <y>-734.3007984161377</y>
          </bends>
          <bends>
            <x>-128.77845001220703</x>
            <y>-684.3007984161377</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>0ddc75be-1ae4-396f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>0ddc75be-1ae4-396f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>188ff580-3b2b-3bda-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a8a27c9e-e45a-3ab5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2a64c125-7f43-3162-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>09284b9a-78c4-3202-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2ca520ff-bafd-397b-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1117.0623779296875</x>
            <y>-118.89427185058594</y>
          </bends>
          <bends>
            <x>1127.2765502929688</x>
            <y>-169.31551361083984</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>ef6c5257-857f-3998-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>ef6c5257-857f-3998-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>373d6604-e31e-3a70-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>63ac6b3e-53b8-3c0c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>f5dc4769-93da-3f62-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3b4468fe-10dc-3ddd-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>ed37c12b-3b47-3bad-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>71d8841c-2af3-3e4d-0000-000000000000</id>
            <type>FUNNEL</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>42b5169b-34e9-33e4-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>2053.855194091797</x>
            <y>-150.98619842529297</y>
          </bends>
          <bends>
            <x>2053.855194091797</x>
            <y>-100.98619842529297</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>63ac6b3e-53b8-3c0c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>63ac6b3e-53b8-3c0c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>43f3833c-65ef-3fbb-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>1036.5314331054688</x>
            <y>-307.030517578125</y>
          </bends>
          <bends>
            <x>1083.5081787109375</x>
            <y>-278.49237060546875</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>623c99f7-b02f-3538-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>456.51348876953125</x>
            <y>-538.8719348907471</y>
          </bends>
          <bends>
            <x>456.51348876953125</x>
            <y>-488.87193489074707</y>
          </bends>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>09284b9a-78c4-3202-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>09284b9a-78c4-3202-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6a456e07-686f-39b0-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>09284b9a-78c4-3202-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>334b3feb-9563-32b3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6c5eb4c9-0694-36ed-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>a3b26906-3384-32ca-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>50569f09-24ca-3b2b-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>6df94ae9-3a1c-33d0-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>100000</backPressureObjectThreshold>
          <destination>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>ef6c5257-857f-3998-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>355057cc-6aff-372c-0000-000000000000</groupId>
            <id>bf332d0d-3e25-3c14-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>06aa50cb-2a23-3e6f-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Hadoop Configuration Files</key>
              <value>
                <name>Hadoop Configuration Files</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
              <value>
                <name>Kerberos Principal</name>
              </value>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
              <value>
                <name>Kerberos Keytab</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper Quorum</key>
              <value>
                <name>ZooKeeper Quorum</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper Client Port</key>
              <value>
                <name>ZooKeeper Client Port</name>
              </value>
            </entry>
            <entry>
              <key>ZooKeeper ZNode Parent</key>
              <value>
                <name>ZooKeeper ZNode Parent</name>
              </value>
            </entry>
            <entry>
              <key>HBase Client Retries</key>
              <value>
                <name>HBase Client Retries</name>
              </value>
            </entry>
            <entry>
              <key>Phoenix Client JAR Location</key>
              <value>
                <name>Phoenix Client JAR Location</name>
              </value>
            </entry>
          </descriptors>
          <name>HBase_1_1_2_ClientService</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Hadoop Configuration Files</key>
            </entry>
            <entry>
              <key>Kerberos Principal</key>
            </entry>
            <entry>
              <key>Kerberos Keytab</key>
            </entry>
            <entry>
              <key>ZooKeeper Quorum</key>
              <value>bigdata-hbase.prod.datavision.r53.nordstrom.net</value>
            </entry>
            <entry>
              <key>ZooKeeper Client Port</key>
              <value>2181</value>
            </entry>
            <entry>
              <key>ZooKeeper ZNode Parent</key>
              <value>/hbase</value>
            </entry>
            <entry>
              <key>HBase Client Retries</key>
              <value>1</value>
            </entry>
            <entry>
              <key>Phoenix Client JAR Location</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
        </controllerServices>
        <funnels>
          <id>71d8841c-2af3-3e4d-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>731.9052680673815</x>
            <y>-932.4715512198627</y>
          </position>
        </funnels>
        <labels>
          <id>8f174c07-d36b-396c-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1148.3671142487754</x>
            <y>-418.28473671043184</y>
          </position>
          <height>90.37488555908203</height>
          <label>Extract data points from
the JSON and use those
to create a serialized (protobuf) 
Tensorflow object. Encode in 
base64 and send along with SkuId
to be stored in HBase.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>197.3101348876953</width>
        </labels>
        <labels>
          <id>ce69d744-0283-31e0-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>397.80253905346285</x>
            <y>-343.5517655190256</y>
          </position>
          <height>41.53474807739258</height>
          <label>Split the FlowFiles in to 
individual Sku entries.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>145.21395874023438</width>
        </labels>
        <labels>
          <id>f4d829ad-1027-3274-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>2.056063833736289</x>
            <y>-427.06674964988497</y>
          </position>
          <height>43.99872970581055</height>
          <label>Add some headers to the JSON</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>180.8355712890625</width>
        </labels>
        <labels>
          <id>08a57d42-4ef1-3878-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>351.17045897533785</x>
            <y>-176.91551979148653</y>
          </position>
          <height>63.74685287475586</height>
          <label>Write the information to
HBase based on the column family
information set in a previous
processor.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>199.98606872558594</width>
        </labels>
        <labels>
          <id>0d337797-5ece-345f-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>392.38359374096285</x>
            <y>-742.9096756752756</y>
          </position>
          <height>63.27878189086914</height>
          <label>All of these "Set*CF" add an
attribute to the FlowFile that
designates the HBase 
column family.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>173.469970703125</width>
        </labels>
        <labels>
          <id>41fdea20-7cfa-3624-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1977.1758761151923</x>
            <y>-213.25010453460254</y>
          </position>
          <height>21.20362091064453</height>
          <label>Put data into StyleLookup table</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>186.21615600585938</width>
        </labels>
        <labels>
          <id>66949d7d-de2f-3827-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>965.9419433503379</x>
            <y>-1373.4365921791818</y>
          </position>
          <height>68.14511108398438</height>
          <label>Sub-process to retrieve
S3 files based on SQS records.
Double-click the processor 
for more info.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>179.65478515625</width>
        </labels>
        <labels>
          <id>6c826746-4f0d-3891-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>955.1258422761191</x>
            <y>-1144.9362259682443</y>
          </position>
          <height>43.99872970581055</height>
          <label>Validate the incoming JSON
matches the expected schema.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>180.8355712890625</width>
        </labels>
        <labels>
          <id>7bc8eb2e-ee76-308d-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1952.1758761151923</x>
            <y>-754.7397438168291</y>
          </position>
          <height>23.101829528808594</height>
          <label>Add attribute for StyleLookup table</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>202.9655303955078</width>
        </labels>
        <processGroups>
          <id>896b9497-9162-343d-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>566.523171161426</x>
            <y>-1374.574184146232</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>adec6e10-db35-3757-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>28bc3e80-b831-359e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>326bd3e3-68f7-3991-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>bfe67b44-642b-3c37-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>-488.40382385253906</x>
                <y>-682.078857421875</y>
              </bends>
              <bends>
                <x>-516.2170562744141</x>
                <y>-714.0640869140625</y>
              </bends>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>4ce23500-30d0-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>4ce23500-30d0-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c6098c01-3ec2-3544-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>3767854d-4b9a-3be5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>18c9deab-50cb-371f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e7dfeca5-4aca-350a-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>326bd3e3-68f7-3991-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>3767854d-4b9a-3be5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>f85e58a1-8785-34ce-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>542049f8-9ff4-38f8-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>4ce23500-30d0-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fb8ab357-5edd-3cdb-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>4ce23500-30d0-30ef-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>28bc3e80-b831-359e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fcf87f18-e234-3a05-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <bends>
                <x>390.2083282470703</x>
                <y>-880.4222412109375</y>
              </bends>
              <bends>
                <x>391.67677307128906</x>
                <y>-830.494384765625</y>
              </bends>
              <destination>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>326bd3e3-68f7-3991-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>896b9497-9162-343d-0000-000000000000</groupId>
                <id>326bd3e3-68f7-3991-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <labels>
              <id>82225293-86b3-3ef9-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-124.53157223276799</x>
                <y>-982.4870453625228</y>
              </position>
              <height>53.703983306884766</height>
              <label>Extract S3 bucket, filename, 
and event time, and add 
as properties of the flowfile.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>166.35133361816406</width>
            </labels>
            <labels>
              <id>cae50b56-e261-3f61-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-110.0103957753629</x>
                <y>-517.376480176976</y>
              </position>
              <height>37.87299346923828</height>
              <label>Re-encode the property (attribute)
data.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>196.3651580810547</width>
            </labels>
            <labels>
              <id>26653929-6f77-38d2-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-686.3457087378949</x>
                <y>-501.6582489758041</y>
              </position>
              <height>62.76023483276367</height>
              <label>Retrieve the S3 file
contents and send as the
flowfile output for this 
sub-process.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>166.23863220214844</width>
            </labels>
            <labels>
              <id>5a3ad28b-f6b8-3198-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-702.063928494975</x>
                <y>-973.2052460461166</y>
              </position>
              <height>33.94342041015625</height>
              <label>If the flowfile has S3 information,
forward it on.</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>193.7454833984375</width>
            </labels>
            <labels>
              <id>7c51abf4-7383-382e-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-1347.82145489268</x>
                <y>-958.7968598156478</y>
              </position>
              <height>23.464641571044922</height>
              <label>Pull event data from SQS</label>
              <style>
                <entry>
                  <key>font-size</key>
                  <value>12px</value>
                </entry>
              </style>
              <width>150.52035522460938</width>
            </labels>
            <outputPorts>
              <id>542049f8-9ff4-38f8-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-1239.206530831392</x>
                <y>-612.7831937763451</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>output</name>
              <state>RUNNING</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>18c9deab-50cb-371f-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-1345.909808658054</x>
                <y>-927.5074642610543</y>
              </position>
              <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Queue URL</key>
                    <value>
                      <name>Queue URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Auto Delete Messages</key>
                    <value>
                      <name>Auto Delete Messages</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                    <value>
                      <name>Access Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                    <value>
                      <name>Secret Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                    <value>
                      <name>Credentials File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                      <name>AWS Credentials Provider service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>
                      <name>Region</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>
                      <name>Communications Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Visibility Timeout</key>
                    <value>
                      <name>Visibility Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Receive Message Wait Time</key>
                    <value>
                      <name>Receive Message Wait Time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                    <value>
                      <name>Proxy Host Port</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Queue URL</key>
                    <value>${sqs_url}</value>
                  </entry>
                  <entry>
                    <key>Auto Delete Messages</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>752e0e00-21d0-3ba2-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>us-west-2</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>10</value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Visibility Timeout</key>
                    <value>15 mins</value>
                  </entry>
                  <entry>
                    <key>Receive Message Wait Time</key>
                    <value>0 sec</value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetSQSProduct</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style>
                <entry>
                  <key>background-color</key>
                  <value>#004ef5</value>
                </entry>
              </style>
              <type>org.apache.nifi.processors.aws.sqs.GetSQS</type>
            </processors>
            <processors>
              <id>28bc3e80-b831-359e-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-125.363858722141</x>
                <y>-657.3530147981638</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventTimestamp</key>
                    <value>
                      <name>eventTimestamp</name>
                    </value>
                  </entry>
                  <entry>
                    <key>s3key</key>
                    <value>
                      <name>s3key</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                  <entry>
                    <key>eventTimestamp</key>
                    <value>${eventTime:toDate("yyyy-MM-dd'T'HH:mm:ss.SSS'Z'", "UTC"):toNumber()}</value>
                  </entry>
                  <entry>
                    <key>s3key</key>
                    <value>${filename:replaceAll('%3D', '=')}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ReplaceEncodedSimbols</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
            <processors>
              <id>326bd3e3-68f7-3991-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-128.28458931296132</x>
                <y>-923.2349728059762</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>
                      <name>Path Not Found Behavior</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>
                      <name>Null Value Representation</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventTime</key>
                    <value>
                      <name>eventTime</name>
                    </value>
                  </entry>
                  <entry>
                    <key>filename</key>
                    <value>
                      <name>filename</name>
                    </value>
                  </entry>
                  <entry>
                    <key>s3bucket</key>
                    <value>
                      <name>s3bucket</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-attribute</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>ignore</value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>empty string</value>
                  </entry>
                  <entry>
                    <key>eventTime</key>
                    <value>$.Records[0].eventTime</value>
                  </entry>
                  <entry>
                    <key>filename</key>
                    <value>$.Records[0].s3.object.key</value>
                  </entry>
                  <entry>
                    <key>s3bucket</key>
                    <value>$.Records[0].s3.bucket.name</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ExtractS3Path</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
            </processors>
            <processors>
              <id>3767854d-4b9a-3be5-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-701.5592099921093</x>
                <y>-928.5448287269642</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>
                      <name>Matching Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>
                      <name>Character Set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>
                      <name>Ignore Leading/Trailing Whitespace</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>
                      <name>Ignore Case</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                    <value>
                      <name>Grouping Regular Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>bucket</key>
                    <value>
                      <name>bucket</name>
                    </value>
                  </entry>
                  <entry>
                    <key>eventtime</key>
                    <value>
                      <name>eventtime</name>
                    </value>
                  </entry>
                  <entry>
                    <key>key</key>
                    <value>
                      <name>key</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to 'matched' if line matches all conditions</value>
                  </entry>
                  <entry>
                    <key>Matching Strategy</key>
                    <value>Contains</value>
                  </entry>
                  <entry>
                    <key>Character Set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>Ignore Leading/Trailing Whitespace</key>
                    <value>true</value>
                  </entry>
                  <entry>
                    <key>Ignore Case</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Grouping Regular Expression</key>
                  </entry>
                  <entry>
                    <key>bucket</key>
                    <value>bucket</value>
                  </entry>
                  <entry>
                    <key>eventtime</key>
                    <value>eventTime</value>
                  </entry>
                  <entry>
                    <key>key</key>
                    <value>key</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>RouteText</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteText</type>
            </processors>
            <processors>
              <id>4ce23500-30d0-30ef-0000-000000000000</id>
              <parentGroupId>896b9497-9162-343d-0000-000000000000</parentGroupId>
              <position>
                <x>-689.6639380678441</x>
                <y>-650.5431507539743</y>
              </position>
              <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Bucket</key>
                    <value>
                      <name>Bucket</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Object Key</key>
                    <value>
                      <name>Object Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>
                      <name>Region</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                    <value>
                      <name>Access Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                    <value>
                      <name>Secret Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                    <value>
                      <name>Credentials File</name>
                    </value>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                      <name>AWS Credentials Provider service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>
                      <name>Communications Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Version</key>
                    <value>
                      <name>Version</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Endpoint Override URL</key>
                    <value>
                      <name>Endpoint Override URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Signer Override</key>
                    <value>
                      <name>Signer Override</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                    <value>
                      <name>Proxy Host Port</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Bucket</key>
                    <value>${s3bucket}</value>
                  </entry>
                  <entry>
                    <key>Object Key</key>
                    <value>${s3key}</value>
                  </entry>
                  <entry>
                    <key>Region</key>
                    <value>us-west-2</value>
                  </entry>
                  <entry>
                    <key>Access Key</key>
                  </entry>
                  <entry>
                    <key>Secret Key</key>
                  </entry>
                  <entry>
                    <key>Credentials File</key>
                  </entry>
                  <entry>
                    <key>AWS Credentials Provider service</key>
                    <value>752e0e00-21d0-3ba2-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Communications Timeout</key>
                    <value>30 secs</value>
                  </entry>
                  <entry>
                    <key>Version</key>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Endpoint Override URL</key>
                  </entry>
                  <entry>
                    <key>Signer Override</key>
                    <value>Default Signature</value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Host Port</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>FetchS3ObjectProduct</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>RUNNING</state>
              <style></style>
              <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
            </processors>
          </contents>
          <name>FetchFromSQS&amp;S3</name>
        </processGroups>
        <processors>
          <id>8bf6dd22-51e7-3102-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-569.3150329799389</x>
            <y>197.74556721718272</y>
          </position>
          <bundle>
            <artifact>nifi-aws-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Object Key</key>
                <value>
                  <name>Object Key</name>
                </value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>
                  <name>Bucket</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>Access Key</key>
                <value>
                  <name>Access Key</name>
                </value>
              </entry>
              <entry>
                <key>Secret Key</key>
                <value>
                  <name>Secret Key</name>
                </value>
              </entry>
              <entry>
                <key>Credentials File</key>
                <value>
                  <name>Credentials File</name>
                </value>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                  <name>AWS Credentials Provider service</name>
                </value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>
                  <name>Storage Class</name>
                </value>
              </entry>
              <entry>
                <key>Region</key>
                <value>
                  <name>Region</name>
                </value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>
                  <name>Communications Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
                <value>
                  <name>Expiration Time Rule</name>
                </value>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>
                  <name>FullControl User List</name>
                </value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>
                  <name>Read Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>
                  <name>Write Permission User List</name>
                </value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>
                  <name>Read ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>
                  <name>Write ACL User List</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>
                  <name>canned-acl</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
                <value>
                  <name>Endpoint Override URL</name>
                </value>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>
                  <name>Signer Override</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>
                  <name>Multipart Threshold</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>
                  <name>Multipart Part Size</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>
                  <name>Multipart Upload AgeOff Interval</name>
                </value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>
                  <name>Multipart Upload Max Age Threshold</name>
                </value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>
                  <name>server-side-encryption</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
                <value>
                  <name>Proxy Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Object Key</key>
                <value>${now():format("'year='yyyy/'month='MM/'day='dd/'hour='HH")}/${now():toNumber()}.gz</value>
              </entry>
              <entry>
                <key>Bucket</key>
                <value>ml-sort-product-prepared-json</value>
              </entry>
              <entry>
                <key>Content Type</key>
              </entry>
              <entry>
                <key>Access Key</key>
              </entry>
              <entry>
                <key>Secret Key</key>
              </entry>
              <entry>
                <key>Credentials File</key>
              </entry>
              <entry>
                <key>AWS Credentials Provider service</key>
                <value>752e0e00-21d0-3ba2-0000-000000000000</value>
              </entry>
              <entry>
                <key>Storage Class</key>
                <value>Standard</value>
              </entry>
              <entry>
                <key>Region</key>
                <value>us-west-2</value>
              </entry>
              <entry>
                <key>Communications Timeout</key>
                <value>30 secs</value>
              </entry>
              <entry>
                <key>Expiration Time Rule</key>
              </entry>
              <entry>
                <key>FullControl User List</key>
                <value>${s3.permissions.full.users}</value>
              </entry>
              <entry>
                <key>Read Permission User List</key>
                <value>${s3.permissions.read.users}</value>
              </entry>
              <entry>
                <key>Write Permission User List</key>
                <value>${s3.permissions.write.users}</value>
              </entry>
              <entry>
                <key>Read ACL User List</key>
                <value>${s3.permissions.readacl.users}</value>
              </entry>
              <entry>
                <key>Write ACL User List</key>
                <value>${s3.permissions.writeacl.users}</value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>${s3.owner}</value>
              </entry>
              <entry>
                <key>canned-acl</key>
                <value>AuthenticatedRead</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Endpoint Override URL</key>
              </entry>
              <entry>
                <key>Signer Override</key>
                <value>Default Signature</value>
              </entry>
              <entry>
                <key>Multipart Threshold</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Part Size</key>
                <value>5 GB</value>
              </entry>
              <entry>
                <key>Multipart Upload AgeOff Interval</key>
                <value>60 min</value>
              </entry>
              <entry>
                <key>Multipart Upload Max Age Threshold</key>
                <value>7 days</value>
              </entry>
              <entry>
                <key>server-side-encryption</key>
                <value>None</value>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutS3ObjectProduct</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff8800</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
          <id>a3b26906-3384-32ca-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-567.424915950646</x>
            <y>-186.98325535311358</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>100 MB</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>5 mins</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>a8a27c9e-e45a-3ab5-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>580.9747016989352</x>
            <y>-1143.7697688695207</y>
          </position>
          <bundle>
            <artifact>nifi-cdp-bundle-nar</artifact>
            <group>com.nordstrom.cdp.nifi</group>
            <version>1.0.4</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonSchema</key>
                <value>
                  <name>JsonSchema</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonSchema</key>
                <value>  {
    "title": "product",
    "type": "object",
    "properties": {
      "AvailableColorCount": {"type": ["null", "integer"]},
      "AverageRating": {"type": ["null", "number"]},
      "DocType": {"type": ["null", "string"]},
      "StyleDateModified": {"type": ["null", "string"]},
      "StyleId": {"type": ["null", "integer"]},
      "Skus": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "SkuId": {"type": "integer"}
          },
          "required": ["SkuId"]
        },
        "minItems": 1
      }
    },
    "required": ["AvailableColorCount", "AverageRating", "DocType", "StyleDateModified", "StyleId", "Skus"]
  }</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ValidateJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>com.nordstrom.cdp.nifi.processors.common.ValidateJson</type>
        </processors>
        <processors>
          <id>bf332d0d-3e25-3c14-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>582.8865356445312</x>
            <y>-379.8372497558594</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.Skus</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>ed37c12b-3b47-3bad-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1587.7607116699219</x>
            <y>-762.7123870849609</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>
                  <name>columnFamily</name>
                </value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>
                  <name>fileTimestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>skus</value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>${s3key:substringAfterLast('/'):substringBeforeLast('-')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SetSkusCF</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>ef6c5257-857f-3998-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>587.0323791503906</x>
            <y>-178.08010864257812</y>
          </position>
          <bundle>
            <artifact>nifi-hbase-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>30</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HBase Client Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
                  <name>HBase Client Service</name>
                </value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>
                  <name>Table Name</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier</key>
                <value>
                  <name>Row Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier Field Name</key>
                <value>
                  <name>Row Identifier Field Name</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>
                  <name>Row Identifier Encoding Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>
                  <name>Column Family</name>
                </value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>
                  <name>timestamp</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Complex Field Strategy</key>
                <value>
                  <name>Complex Field Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Field Encoding Strategy</key>
                <value>
                  <name>Field Encoding Strategy</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>0 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HBase Client Service</key>
                <value>06aa50cb-2a23-3e6f-0000-000000000000</value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>raw_product</value>
              </entry>
              <entry>
                <key>Row Identifier</key>
              </entry>
              <entry>
                <key>Row Identifier Field Name</key>
                <value>SkuId</value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>String</value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>${columnFamily}</value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>${fileTimestamp}</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Complex Field Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Field Encoding Strategy</key>
                <value>String</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>3 sec</yieldDuration>
          </config>
          <name>PutHBaseJSONProduct</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff0000</value>
            </entry>
          </style>
          <type>org.apache.nifi.hbase.PutHBaseJSON</type>
        </processors>
        <processors>
          <id>f5dc4769-93da-3f62-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1592.4837036132812</x>
            <y>-572.0285205841064</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>jolt-transform</key>
                <value>
                  <name>jolt-transform</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
                <value>
                  <name>jolt-custom-class</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
                <value>
                  <name>jolt-custom-modules</name>
                </value>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>
                  <name>jolt-spec</name>
                </value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>
                  <name>Transform Cache Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>[
  {
    "operation": "shift",
    "spec": {
      "StyleId": "StyleId",
      "Skus": {
        "*": {
          "@(0,SkuId)": "Skus[&amp;1]"
        }
      }
    }
  }
]</value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>10000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>TransformStyleLookup</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
          <id>023da5f9-3595-3dee-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1111.6058829912151</x>
            <y>-765.25715102833</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>
                  <name>columnFamily</name>
                </value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>
                  <name>fileTimestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>protobuf</value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>${s3key:substringAfterLast('/'):substringBeforeLast('-')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SetProtobufCF</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>07aca524-4dd3-3a57-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1119.7079070079812</x>
            <y>-574.618808641965</y>
          </position>
          <bundle>
            <artifact>nifi-custom-protobuf</artifact>
            <group>com.nordstrom.cdp.nifi</group>
            <version>0.0.1</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors></descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties></properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ProtobufTensorObject</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>com.nordstrom.cdp.nifi.processors.ProtobufTensorObject</type>
        </processors>
        <processors>
          <id>09284b9a-78c4-3202-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1.51348876953125</x>
            <y>-578.8719348907471</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>jolt-transform</key>
                <value>
                  <name>jolt-transform</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
                <value>
                  <name>jolt-custom-class</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
                <value>
                  <name>jolt-custom-modules</name>
                </value>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>
                  <name>jolt-spec</name>
                </value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>
                  <name>Transform Cache Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>[
  {
    "operation": "shift",
    "spec": {
      "Skus": {
        "*": {
          "@(2,StyleId)": "Skus[&amp;1].StyleId",
          "@(2,StyleDateModified)": "Skus[&amp;1].StyleDateModified",
          "@(2,AvailableColorCount)": "Skus[&amp;1].AvailableColorCount",
          "@(2,AverageRating)": "Skus[&amp;1].AverageRating",
          "@(2,DocType)": "Skus[&amp;1].DocType",
          "@(2,InvConf)": "Skus[&amp;1].InvConf",
		  "@(2,InternalAnniversaryFlag)": "Skus[&amp;1].InternalAnniversaryFlag",
          "@(0,SkuId)": "Skus[&amp;1].SkuId"
        }
      }
    }
  }
]</value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>10000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>AddHeaderFields</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
          <id>0ddc75be-1ae4-396f-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-583.778450012207</x>
            <y>-774.3007984161377</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>jolt-transform</key>
                <value>
                  <name>jolt-transform</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
                <value>
                  <name>jolt-custom-class</name>
                </value>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
                <value>
                  <name>jolt-custom-modules</name>
                </value>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>
                  <name>jolt-spec</name>
                </value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>
                  <name>Transform Cache Size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>jolt-transform</key>
                <value>jolt-transform-chain</value>
              </entry>
              <entry>
                <key>jolt-custom-class</key>
              </entry>
              <entry>
                <key>jolt-custom-modules</key>
              </entry>
              <entry>
                <key>jolt-spec</key>
                <value>[
  {
    "operation": "shift",
    "spec": {
      "Skus": {
        "*": {
          "@(2,StyleId)": "Skus[&amp;1].StyleId",
          "@(2,StyleDateModified)": "Skus[&amp;1].StyleDateModified",
          "@(2,AvailableColorCount)": "Skus[&amp;1].AvailableColorCount",
          "@(2,AverageRating)": "Skus[&amp;1].AverageRating",
          "@(2,DocType)": "Skus[&amp;1].DocType",
          "@(2,InvConf)": "Skus[&amp;1].InvConf",
          "@(2,InternalAnniversaryFlag)": "Skus[&amp;1].InternalAnniversaryFlag",
          "*": "Skus[&amp;1].&amp;"
        }
      }
    }
  },
  {
    "operation": "default",
    "spec": {
      "Skus[]": {
        "*": {
          "sourcePath": "s3://${s3bucket}/${s3key}"
        }
      }
    }
  }
]</value>
              </entry>
              <entry>
                <key>Transform Cache Size</key>
                <value>10000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>CreateFullRecord</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
          <id>106af679-2402-3d6e-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-581.4425277709961</x>
            <y>-581.8460998535156</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>$.Skus</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>2a71c576-d7a6-349e-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-563.4899119478969</x>
            <y>-2.8883366528165197</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Mode</key>
                <value>
                  <name>Mode</name>
                </value>
              </entry>
              <entry>
                <key>Compression Format</key>
                <value>
                  <name>Compression Format</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Update Filename</key>
                <value>
                  <name>Update Filename</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Mode</key>
                <value>compress</value>
              </entry>
              <entry>
                <key>Compression Format</key>
                <value>gzip</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Update Filename</key>
                <value>true</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>CompressContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.CompressContent</type>
        </processors>
        <processors>
          <id>334b3feb-9563-32b3-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>0.670745849609375</x>
            <y>-775.5815277099609</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>
                  <name>columnFamily</name>
                </value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>
                  <name>fileTimestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>style</value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>${s3key:substringAfterLast('/'):substringBeforeLast('-')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SetStyleCF</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>41757689-3ccf-35be-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>581.6842346191406</x>
            <y>-773.2808074951172</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>
                  <name>columnFamily</name>
                </value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>
                  <name>fileTimestamp</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>columnFamily</key>
                <value>sku</value>
              </entry>
              <entry>
                <key>fileTimestamp</key>
                <value>${s3key:substringAfterLast('/'):substringBeforeLast('-')}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SetSkuCF</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>50569f09-24ca-3b2b-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>-577.5400282553335</x>
            <y>-387.8715610171761</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>
                  <name>mergecontent-metadata-strategy</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>
                  <name>Tar Modified Time</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>mergecontent-metadata-strategy</key>
                <value>Do Not Merge Uncommon Metadata</value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>1000000</value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>100 kB</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>5 mins</value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>5</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
              </entry>
              <entry>
                <key>Footer File</key>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>4</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Tar Modified Time</key>
                <value>${file.lastModifiedTime}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>MergeContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>63ac6b3e-53b8-3c0c-0000-000000000000</id>
          <parentGroupId>355057cc-6aff-372c-0000-000000000000</parentGroupId>
          <position>
            <x>1598.8551940917969</x>
            <y>-190.98619842529297</y>
          </position>
          <bundle>
            <artifact>nifi-hbase-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>5</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HBase Client Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
                  <name>HBase Client Service</name>
                </value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>
                  <name>Table Name</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier</key>
                <value>
                  <name>Row Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier Field Name</key>
                <value>
                  <name>Row Identifier Field Name</name>
                </value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>
                  <name>Row Identifier Encoding Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>
                  <name>Column Family</name>
                </value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>
                  <name>timestamp</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Complex Field Strategy</key>
                <value>
                  <name>Complex Field Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Field Encoding Strategy</key>
                <value>
                  <name>Field Encoding Strategy</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>0 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HBase Client Service</key>
                <value>06aa50cb-2a23-3e6f-0000-000000000000</value>
              </entry>
              <entry>
                <key>Table Name</key>
                <value>style_lookup</value>
              </entry>
              <entry>
                <key>Row Identifier</key>
              </entry>
              <entry>
                <key>Row Identifier Field Name</key>
                <value>StyleId</value>
              </entry>
              <entry>
                <key>Row Identifier Encoding Strategy</key>
                <value>String</value>
              </entry>
              <entry>
                <key>Column Family</key>
                <value>${columnFamily}</value>
              </entry>
              <entry>
                <key>timestamp</key>
                <value>${fileTimestamp}</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Complex Field Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Field Encoding Strategy</key>
                <value>String</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>3 sec</yieldDuration>
          </config>
          <name>PutHBaseJSONStyleLookup</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style>
            <entry>
              <key>background-color</key>
              <value>#ff0000</value>
            </entry>
          </style>
          <type>org.apache.nifi.hbase.PutHBaseJSON</type>
        </processors>
      </contents>
      <name>Unversioned_product</name>
    </processGroups>
  </snippet>
  <timestamp>02/13/2018 23:40:27 UTC</timestamp>
</template>
